* {
  margin: 0;
}

.pets {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  position: relative;
  top: 35px;
  transition: top 0.3s;
}

.page {
  width: 100%;
  height: 185px;
  border-top: 35px solid white;
  border-bottom: 1000vh solid white;
  position: absolute;
  top: 0;
}

.pets img {
  width: 180px;
  height: 180px;
  border: 5px solid white;
}

.prevPage, .nextPage {
  position: fixed;
  left: 10px;
  z-index: 1;
  top: 10px;
}

.nextPage {
  top: 230px;
}

#currentPage {
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 10px;
  font-size: 48px;
  color: red
}